@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-style: normal;
  padding: 9.63px 32px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.general-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.header__logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #212121;
}

.header-contacts__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  fill: #757575;
}

.contacts {
  margin-left: 10px;
}

.header-contacts__icons:hover {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.header-contacts__link:hover a,
.header-contacts__link:hover .header-contacts__icons {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  fill: #2196f3;
}

.list-header-menu__active {
  position: relative;
  display: block;
}

.list-header-menu__active::after {
  position: absolute;
  content: '';
  top: 43px;
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #2196f3;
}

.list-header-menu__active:hover::after {
  background: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__web-header {
  color: #2196f3;
}

.header .list-header-menu__active:visited {
  color: #2196f3;
}

.header .header__logo:hover {
  color: #212121;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-header-menu {
  display: none;
  letter-spacing: 0.02em;
  margin-left: 88px;
  line-height: 1.14;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .list-header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .list-header-menu {
    margin-left: 93px;
  }
}

.list-header-menu > li:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts > li:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contacts > li {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header {
  font-weight: 500;
  font-size: 14px;
  height: 60px;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  padding: 24px 0px 25px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__list a {
  color: #212121;
  text-decoration: none;
}

.list-header a:hover {
  color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a.contacts {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*герой*/
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/m-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/m-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/m-hero@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/m-hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/t-hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/t-hero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/t-hero@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/t-hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/d-hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/d-hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/hero/d-hero@2X.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/d-hero@2X.jpg);
  }
}

.hero {
  padding: 118px 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__title-hero {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.364em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title-hero {
    font-size: 44px;
  }
}

.backdrop {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

/*4 пункта иконки*/
.features__advantages {
  position: relative;
  display: block;
}

@media screen and (min-width: 768px) {
  .features__advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.features__advantages .features__advantages-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
}

.features__advantages .features__list:last-child {
  margin-bottom: 0;
}

.features__advantages .features__list {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .features__advantages .features__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    width: auto;
  }
  .features__advantages .features__list:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__advantages .features__list {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .features__advantages .features__list:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.features__advantages-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: left;
  }
}

.features__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
  letter-spacing: 0.03em;
}

/*Занятие студия*/
@media (max-width: 1200px) {
  .qwe {
    display: none;
  }
}

.qwe {
  margin-top: 94px;
}

.features__work-list {
  font-size: 36px;
  line-height: 42px;
  color: #212121;
  text-align: center;
}

.features__work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__work-image {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 0;
}

.features__work-image:last-child {
  margin-right: 0;
}

.features__text-on-picture {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.features__fon-pictures {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

/*Команда*/
.team {
  background: #f5f4fa;
}

.team__team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .team__team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.team__command {
  width: 100%;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__command {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    width: auto;
  }
  .team__command:nth-last-child(2), .team__command:nth-last-child(1) {
    margin-bottom: 0;
  }
  .team__command:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__command {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
  .team__command:not(:last-child) {
    margin-right: 30px;
  }
}

.team__our-list {
  text-align: center;
  padding: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  margin-top: 16px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.social-list__link:hover {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background: #2196f3;
}

.social-list__link:hover use {
  fill: #ffffff;
}

.social-list__icon-team {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/*Кнопки портфолио*/
.portfolio__button-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 480px) {
  .portfolio__button-portfolio {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__button-portfolio {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__button-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.portfolio__button-portfolio > li {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  top: 174px;
  left: 495px;
  padding-left: 8px;
}

.portfolio__all {
  margin-bottom: 15px;
}

.portfolio__all:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .portfolio__all {
    margin-bottom: 0;
  }
}

.portfolio__all-button {
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  width: 100%;
}

.portfolio__all-button:hover, .portfolio__all-button:focus {
  color: #ffffff;
  background: #2196f3;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Карточки*/
.portfolio__card-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0;
}

.portfolio__card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  padding-top: 4px;
  color: #757575;
  margin: 0;
}

.portfolio__card:hover, .portfolio__card:focus {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio__card-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .portfolio__card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.portfolio__card {
  cursor: pointer;
  margin-bottom: 30px;
}

.portfolio__card:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .portfolio__card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
    margin-right: 0;
  }
  .portfolio__card:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__card {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .portfolio__card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .portfolio__card:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.portfolio__card-content {
  border: 1px solid #eeeeee;
  background: #ffffff;
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.portfolio__card-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.portfolio__card-images {
  position: relative;
  overflow: hidden;
}

.portfolio__card-overlay {
  position: absolute;
  overflow-y: scroll;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  width: 100%;
  height: 100%;
  padding: 24px;
  top: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-link:hover .portfolio__card-overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}

.portfolio__text-paragraph {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

/*Постоянные клиенты*/
.clients__listk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 42px;
    margin-bottom: 50px;
  }
}

.clients__list {
  fill: rgba(255, 255, 255, 0.1);
  padding-bottom: 30px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  width: auto;
}

.clients__list:nth-child(odd) {
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .clients__list {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
    margin-bottom: 0;
    margin-right: 30px;
  }
  .clients__list:nth-child(3n + 3) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
    margin-right: 30px;
    padding-bottom: 0;
  }
  .clients__list:nth-child(odd) {
    margin-right: 30px;
  }
}

.clients__link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  fill: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.clients__link:hover .clients__icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.clients__link:hover {
  border-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

/*Футер*/
.footer {
  background: #2f303a;
  border: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address .logo:hover {
  color: #ffffff;
}

.address .address__contact-footer:hover {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.footer__list {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__list {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__list {
    text-align: left;
  }
}

.footer__link {
  text-align: center;
  display: block;
}

@media screen and (min-width: 768px) {
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    padding: 0 75px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__link {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 0 15px;
  }
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.logo .web {
  color: #2196f3;
}

.address__paragraph {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.address__contact-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address__list > li:not(:last-child) {
  margin-bottom: 9px;
}

.footer__join {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__join {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__join {
    text-align: left;
  }
}

.social-list__icon {
  fill: #ffffff;
  margin-left: 70px;
  width: 206px;
}

.footer__join-text {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list__link--style {
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.subscribe {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-top: 0;
    text-align: left;
  }
}

.subscribe__footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__footer-mail:focus {
  border-color: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__footer-mail {
  width: 100%;
  cursor: pointer;
  outline: none;
  height: 50px;
  margin-top: 20px;
  padding: 15px 16px;
  font-size: 16px;
  font-weight: 16px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe__footer-mail {
    width: 358px;
  }
}

.subscribe__footer-submit {
  cursor: pointer;
  font-weight: 700;
  font-style: normal;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: 12px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.subscribe__form-send {
  vertical-align: middle;
}

/*Модальное окно,форма*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  width: 100%;
  height: 609px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__vector-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-top: 8px;
  margin-left: 412px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

@media screen and (min-width: 1200px) {
  .modal__vector-icon {
    margin-left: 490px;
  }
}

.modal__vector-icon:hover {
  fill: #2196f3;
}

.modal__vector-icons {
  position: absolute;
  bottom: 14px;
  left: 14px;
}

.form {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 40px;
}

.form__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__field label {
  cursor: pointer;
  padding-bottom: 4px;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.form__field input {
  cursor: pointer;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 14px;
  background: #ffffff;
}

.form__submit {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  margin-top: 30px;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 40px;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

textarea {
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background: #ffffff;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.form__comment {
  cursor: pointer;
  outline: none;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment:focus,
.form__input:focus {
  border-color: #2196f3;
}

.form__input:focus + .form__icon-field use {
  fill: #2196f3;
}

.form__icon-field {
  position: absolute;
  bottom: 14px;
  left: 14px;
}

.form__input {
  outline: none;
  padding: 12px 42px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__form-checkbox {
  margin-top: 20px;
}

.form__checkbox-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 9px;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked + .form__checkbox-icon {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form__label {
    font-size: 14px;
  }
}

.form__checkbox-link {
  margin-left: 5px;
  line-height: 1.71;
  color: #2196f3;
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 48px 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu .menu-close {
  position: absolute;
  top: 21px;
  right: 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: transparent;
}

.mobile-menu .menu-close svg {
  width: 20px;
  height: 20px;
}

.menu-open {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mobile-menu__nav .nav__link {
  text-decoration: none;
  color: #212121;
  font-size: 40px;
}

.mobile-menu__nav .nav__link.active, .mobile-menu__nav .nav__link:hover {
  color: #2196f3;
}

.mobile-menu__nav .nav__item {
  margin-bottom: 32px;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__contacts .contacts__link {
  text-decoration: none;
}

.mobile-menu__contacts .contacts__link--phone {
  color: #2196f3;
  font-size: 34px;
}

.mobile-menu__contacts .contacts__link--mail {
  color: #757575;
  font-size: 24px;
}

.mobile-menu__contacts .contacts__item:first-child {
  margin-bottom: 32px;
}

.icon-menu:focus, .icon-menu:hover {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__social .social__item {
  padding: 0 10px;
  border-right: 1px solid rgba(117, 117, 117, 0.2);
}

.mobile-menu__social .social__item:last-child {
  border: none;
  padding-right: 0;
}

.mobile-menu__social .social__item:first-child {
  padding-left: 0;
}

.mobile-menu__social .social__link {
  text-decoration: none;
  color: #2196f3;
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */