$accent-color: #2196f3;
$white-base-color: #ffffff;
$black-color-base: #212121;
$grey-color: #757575;
$dark-grey-color: #2f303a;
$button-color: #f5f4fa;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$our-team-color: #f5f4fa;
$icon-color: #afb1b8;
$icon-footer-color: rgba(255, 255, 255, 0.1);
$card-color: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
$fon-on-picture: rgba(47, 48, 58, 0.8);
$texterea-color: rgba(117, 117, 117, 0.5);
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

// Шрифт
$font-base: 'Roboto', sans-serif;
$normal-font: 'Raleway', sans-serif;
$bold-font: 900;
$semi-bold-font: 700;
$regular-font: 500;
$min-font: 400;

// Интервал
$min-spacing: 0.02em;
$normal-spacing: 0.03em;
$max-spacing: 0.06em;

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
