.body {
  font-family: $font-base;
  background: $white-base-color;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
